.introBox {
  display: inline-block;
  max-width: 600px;
  min-width: 400px;
  border-radius: 1px;
  padding: 10px;
  background-color: white;
}

.frameWindow {
  border: 8px grey;
  border-radius: 5px;
  cursor: grab;
  display: inline;
  user-select: none;
  background: grey;
  padding: 25px 2px 2px 2px;
}
