.photosContainer {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200, 1fr));
  gap: 12px;
}
.galleryItem {
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}

.galleryItem img {
  width: 50%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease;
}
.galleryItem:hover img {
  opacity: 70%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.galleryItem:hover .overlay {
  opacity: 1;
}
