.photosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 3px 0;
  overflow-y: auto;
  max-height: 600px;
  width: 1000px;
}
.galleryItem {
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}

.galleryItem img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease;
}
.galleryItem:hover img {
  opacity: 70%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.galleryItem:hover .overlay {
  opacity: 1;
}
