.startMenu {
  background-color: grey;
  position: fixed;
  bottom: 45px;
  left: 0;
  width: 300px;
  min-height: 200px;
  z-index: 1000;
  color: white;
  border-radius: 5px;
}

.menuContent {
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}
.menuContent h3 {
  margin: 3px;
}
.menuContent li {
  margin: 8px 5px;
  cursor: pointer;
}

.menuContent li:hover {
  background: lightgrey;
  border-radius: 5px;
  color: black;
}
