.terminalWindow {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  overflow-y: auto;
  min-width: 900px;
  height: 400px;
  padding: 10px;
  font-size: 15px;
  text-shadow: none;
  overflow-y: auto;
  white-space: pre;
}

.inputContainer {
  display: flex;
  align-items: center;
}
.inputContainer span {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.input {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: lighter;
}
