* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-jm: "Jetbrains Mono";
  --font-scp: "Source Code Pro";
  --color-bg: #efeeeb;
  --color-text: #4a4a4a;
  --color-primary: #f7d34f;
  --color-secondary: #f0c330;
  --color-accent: #ffec99;
  --color-border: #d9c46a;
  --color-yellow-lightest: #fffdeb;
  --color-yellow-light: #fff5b8;
  --color-yellow-soft: #ffeaa7;
  --color-yellow-mild: #fff3c2;
  --color-yellow-cream: #fff7d1;
}

body {
  font-family: var(--font-scp);
  font-weight: 400;
  color: var(--color-text);
background-image: url("/bgfinal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

html {
  overflow: hidden;
  height: 100%;
}
