* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-bg: #faf7ef;
  --color-text: #4a4a4a;
  --color-primary: #f7d34f;
  --color-secondary: #f0c330;
  --color-accent: #ffec99;
  --color-border: #d9c46a;
  --color-yellow-lightest: #fffdeb;
  --color-yellow-light: #fff5b8;
  --color-yellow-soft: #ffeaa7;
  --color-yellow-mild: #fff3c2;
  --color-yellow-cream: #fff7d1;
}
html,
body {
  height: 100%;
  font-family: var(--font);
  background: var(--color-bg);
  color: var(--color-text);
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background: var(--color-yellow-soft);
  border-bottom: 1px solid var(--color-accent);
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--color-accent);
}
